.mTitle {
    font-weight: 600;
    color: white;
}

.v-card__text, .v-card__title {
    word-break: normal !important;
}

.expanHeight {
    min-height: 40vh;
}

.filterFixWidth {
    width: 100%;
}

.greenText {
    color: #4CAF50;
}

.redText {
    color: #F44336;
}